header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#012650;
    border-bottom: 10px solid #41EAD4 ;
    padding: 10px 20px;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    color: #FDFFFC;
    text-shadow: 5px 5px 0px #F71735;
}

nav {
   text-align: right; 
}

a {
    display: inline-flex;
    align-items: center;
    color:#d4d4d4;
    text-decoration: none;
    font-family: 'Fira Code', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

a::before {
    content:"";
    height: 10px;
    width: 10px;
    background-color: #F71735;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #F71735af;
    box-shadow: 5px 5px 0px #41EAD4af ;
    padding: 18px 20px;   
    margin-right: 0px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

#button:hover {
    background-color: #F71735;
    color: #fff;
    box-shadow: 2px 2px 0px #41EAD4 ;
    transform: scale(1.05);
}
