.action {
    display: inline-flex;
    align-items: center;
    color: #d4d4d4;
    text-decoration: none;
    font-family: 'Fira Code', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
    transition: 0.2s ease-in-out;
}

.action::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #F71735;
    margin-right: 10px;
}

.action:hover {
    color: #fff;
    transform: scale(1.05);
}