.main-section {
    background-color: #F71735;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #4de9d4;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #F71735;
}

.main-section.-bgSecond {
    border-color: #000;
}

.main-section.-bdBlack {
    background-color: #012650;
}

